__pycache__
.config/fish/completions/deno.fish
.config/fish/completions/docker.fish
.config/fish/completions/kubectl.fish
.config/fish/completions/orbctl.fish
.config/fish/fish_variables
.DS_Store
.turbo
.vercel
*.env*
*.log*
*.tsbuildinfo
node_modules

!.env.example
